.orientacao{
    display: flex;
    flex-direction: row;
}
.texto{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.texto p{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5em;
    padding:10%
}
.orientacao img{
    width: 100%;
    max-width: 650px;
    display: block;
    margin-right: 10px;
}
#imgFinal{
    width: 25%;
}